<% provide(:title, "科目一覧") %>

<!-- 
<%= javascript_pack_tag 'datatables/index' %>
<%= stylesheet_pack_tag 'datatables/index' %>
-->

<!-- 上部 -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>科目一覧</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><%= link_to "ホーム", root_url %></li>
                    <li class="breadcrumb-item active">科目一覧</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- テーブル -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">科目一覧</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered table-hover normal_datatable">
                            <thead>
                            <tr>
                                <th>科目名</th>
                                <th>参加グループ</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        
                            <tbody>
                            <% @subjects.each do |subject| %>
                                <tr>
                                <td><%= subject.subject_name %>-<%= subject.id %>-<%= subject.user_id %></td>
                                <td><%= join_subject_group_name(subject) %></td>
                                <td>
                                    <%= link_to '科目名編集', edit_subject_path(subject.id), class:"btn btn-outline-primary btn-sm" %>
                                    <%= link_to '削除', subject, method: :delete, class:"btn btn-outline-danger btn-sm", data: { confirm: '本当によろしいでしょうか？' } %>
                                </td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->