<% provide(:title, "科目一覧") %>


<%= javascript_pack_tag 'datatables/index' %>
<%= stylesheet_pack_tag 'datatables/index' %>


<!-- 上部 -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>科目一覧</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><%= link_to "ホーム", root_url, "data-turbolinks": false %></li>
                    <li class="breadcrumb-item active">科目一覧</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- テーブル -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">科目一覧</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="subject_datatable" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th style="background-color: #e8f0f8;">科目名</th>
                                <th style="background-color: #e8f0f8;">参加グループ</th>
                                <th style="background-color: #e8f0f8;">操作</th>
                            </tr>
                            </thead>
                        
                            <tbody>
                            <% @subjects.each do |subject| %>
                                <tr>
                                <td><%= subject.subject_name %><!--  -<%= subject.id %>-<%= subject.user_id %> --></td>
                                <td><%= join_subject_group_name(subject) %></td>
                                <td>
                                    <%= link_to '編集', edit_subject_path(subject.id), class:"btn btn-outline-primary btn-sm" %>
                                    <%= link_to '削除', subject, method: :delete, class:"btn btn-outline-danger btn-sm", data: { confirm: '本当によろしいでしょうか？' } %>
                                </td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<script>

    var ja_DataTable = {
                    "sProcessing":   "処理中...",
                    "sLengthMenu":   "_MENU_ 件表示",
                    "sZeroRecords":  "データはありません。",
                    "sInfo":         " _TOTAL_ 件中 _START_ から _END_ まで表示",
                    "sInfoEmpty":    " 0 件中 0 から 0 まで表示",
                    "sInfoFiltered": "（全 _MAX_ 件より抽出）",
                    "sInfoPostFix":  "",
                    "sSearch":       "検索:",
                    "sUrl":          "",
                    "oPaginate": {
                        "sFirst":    "先頭",
                        "sPrevious": "前",
                        "sNext":     "次",
                        "sLast":     "最終"
                    }
        };
            

    var dataTable = $('#subject_datatable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "language": ja_DataTable,
                "oSearch": {"sSearch": "<%= @oSearch_word %>"}
        });

    document.addEventListener("turbolinks:before-cache", function() {
        if (dataTable !== null) {
            dataTable.destroy();
            dataTable = null;
        } 
    });


    /*$(function() {
        $('.form-control-sm').eq(1).val(["<%= @oSearch_word %>"]);
        $('.form-control-sm').eq(1).focus();
    });*/
</script>