<% provide(:title, "学習予定編集") %>
<!-- Main content -->

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>学習予定編集</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><%= link_to "ホーム", root_url %></li>
                    <li class="breadcrumb-item"><%= link_to "学習予定一覧", studyplans_path %></li>
                    <li class="breadcrumb-item active">学習予定編集</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-8 offset-md-2">
                <%= render 'shared/error_messages', object: @studyplan %>
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">学習予定編集</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <%= form_with(model: @studyplan, local: true) do |f| %>

                        <%= f.hidden_field :user_id, :value => @user.id %>

                        <div class="card-body">

                            <div class="form-group">
                                <%= f.label :科目 %><br />
                                <%= f.text_field :subject_name, class:"form-control", value: @subject.subject_name, disabled: true %>
                            </div>

                            <div class="form-group">
                                <label>参加グループ</label><br />
                                <span class="form-control" style="background-color: #e9ecef;"><%= join_subject_group_name(@subject) %></span>
                            </div>

                            <div class="form-group">
                                <%= f.label :開始日時 %><br />
                                <%= f.datetime_field :start_daytime, class:"form-control", value: @studyplan.start_daytime.strftime('%Y-%m-%dT%H:%M') %>
                            </div>

                            <div class="form-group">
                                <%= f.label :終了日時 %><br />
                                <%= f.datetime_field :end_daytime, class:"form-control", value: @studyplan.end_daytime.strftime('%Y-%m-%dT%H:%M') %>
                            </div>

                            <div class="form-group">
                                <%= f.label :学習状況 %><br />
                                <% if @studyplan.done_flag == true then %>
                                    <%= f.select :done_flag, {未完了: false, 完了: true}, {}, class:"form-control" %>
                                <% else %>
                                    <%= f.select :done_flag, {完了: true, 未完了: false}, {}, class:"form-control" %>
                                <% end %>
                            </div>


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <%= f.submit "登録する", class:"btn btn-primary" %>
                        </div>
                    <% end %>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>

</section>


