<% provide(:title, "学習予定一覧") %>
<p id="notice"><%= notice %></p>

<%= javascript_pack_tag 'subjects/index' %>
<!-- 上部 -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>学習予定一覧</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- テーブル -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="users_example" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>学習予定ID</th>
                                <th>科目名</th>
                                <th>登録者ID</th>
                                <th>開始時間</th>
                                <th>終了時間</th>
                                <th>勉強時間</th>
                                <th>完了</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        
                            <tbody>
                            <% @studyplans.each do |studyplan| %>
                                <% @studyplan = studyplan %>
                                <% subject = Subject.find(studyplan.subject_id) %>
                                <tr>
                                <td><%= studyplan.id %></td>
                                <td><%= subject.subject_name %></td>
                                <td><%= studyplan.user_id %></td>
                                <td><%= format_change_datetime(studyplan.start_daytime) %></td>
                                <td><%= format_change_datetime(studyplan.end_daytime) %></td>
                                <td><%= time_difference(studyplan.start_daytime,studyplan.end_daytime) %></td>
                                <td id="studyplan_td_<%= studyplan.id %>">
                                    <% if studyplan.done_flag %>
                                        <%= form_with(url: incomplete_studyplan_path(studyplan.id), method: :delete, local: true, 'data-disable-with' => false) do |f| %>
                                            <div><%= hidden_field_tag :id, studyplan.id %></div>
                                            <%= f.submit "完了", class: "btn btn-block bg-gradient-primary btn-sm", id: "studyplan_submit_#{ studyplan.id }" %>
                                        <% end %>
                                    <% else %>
                                        <%= form_with(url: complete_studyplan_path(studyplan.id), method: :post, local: true, 'data-disable-with' => false) do |f| %>
                                            <div><%= hidden_field_tag :id, studyplan.id %></div>
                                            <%= f.submit "未完了", class: "btn btn-outline-primary btn-sm", id: "studyplan_submit_#{ studyplan.id }" %>
                                        <% end %>
                                    <% end %>
                                </td>

                                <td>
                                <%= link_to '編集', edit_studyplan_path(studyplan.id), class:"btn btn-outline-primary btn-sm" %>
                                <%= link_to '削除', studyplan, method: :delete, class:"btn btn-outline-danger btn-sm", data: { confirm: '本当によろしいでしょうか？' } %></td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
