<% provide(:title, "学習予定一覧") %>

<%= javascript_pack_tag 'datatables/index' %>
<%= stylesheet_pack_tag 'datatables/index' %>
<!-- 上部 -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>学習予定一覧</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>



<!-- テーブル -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="top_one_perpage_datatable" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>科目名</th>
                                <th>完了</th>
                                <th>開始時間</th>
                                <th>終了時間</th>
                                <th>勉強時間</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        
                            <tbody>
                            <% @studyplans.each do |studyplan| %>
                                
                                <% subject = Subject.find(studyplan.subject_id) %>
                                <tr>
                                <td><%= subject.subject_name %>-<%= studyplan.id %>-<%= studyplan.user_id %></td>   
                                <td id="studyplan_td_<%= studyplan.id %>">
                                    <% if studyplan.done_flag %>
                                        <%= form_with(url: incomplete_studyplan_path(studyplan.id), method: :delete, remote: true) do |f| %>
                                            <div><%= hidden_field_tag :id, studyplan.id %></div>
                                            <%= f.submit "完了", class: "btn btn-block bg-gradient-primary btn-sm", id: "studyplan_submit_#{ studyplan.id }" %>
                                        <% end %>
                                    <% else %>
                                        <%= form_with(url: complete_studyplan_path(studyplan.id), method: :post, remote: true) do |f| %>
                                            <div><%= hidden_field_tag :id, studyplan.id %></div>
                                            <%= f.submit "完了", class: "btn btn-block btn-default btn-sm", id: "studyplan_submit_#{ studyplan.id }" %>
                                        <% end %>
                                    <% end %>
                                </td>
                                <td><%= Studyplan.format_change_datetime_full(studyplan.start_daytime) %></td>
                                <td><%= Studyplan.format_change_datetime_full(studyplan.end_daytime) %></td>
                                <td><%= studyplan.daytime_difference_hhmm() %></td>
                                
                                <td>
                                <%= link_to '編集', edit_studyplan_path(studyplan.id), class:"btn btn-outline-primary btn-sm" %>
                                <%= link_to '削除', studyplan, method: :delete, class:"btn btn-outline-danger btn-sm", data: { confirm: '本当によろしいでしょうか？' } %></td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<script>
var ja_DataTable = {
                "sProcessing":   "処理中...",
                "sLengthMenu":   "_MENU_ 件表示",
                "sZeroRecords":  "データはありません。",
                "sInfo":         " _TOTAL_ 件中 _START_ から _END_ まで表示",
                "sInfoEmpty":    " 0 件中 0 から 0 まで表示",
                "sInfoFiltered": "（全 _MAX_ 件より抽出）",
                "sInfoPostFix":  "",
                "sSearch":       "検索:",
                "sUrl":          "",
                "oPaginate": {
                    "sFirst":    "先頭",
                    "sPrevious": "前",
                    "sNext":     "次",
                    "sLast":     "最終"
                }
            };
            
$(function() {
    $('#top_one_perpage_datatable').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
        "language": ja_DataTable,
        "oSearch": {"sSearch": "<%= @oSearch_word %>"}
    });
});
</script>