<% provide(:title, "グループ名編集") %>
<!-- Main content -->

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>グループ一覧</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><%= link_to "ホーム", root_url, "data-turbolinks": false %></li>
                    <li class="breadcrumb-item"><%= link_to "グループ一覧", subject_groups_path %></li>
                    <li class="breadcrumb-item"><%= link_to "グループ詳細", subject_group_path(@subject_group.id) %></li>
                    <li class="breadcrumb-item active">グループ名編集</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-8 offset-md-2">
                <%= render 'shared/error_messages', object: @subject_group %>
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">グループ名編集</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <%= form_with(model: @subject_group, local: true) do |f| %>

                        <div class="card-body">

                            <div class="form-group">
                                <%= f.label :グループ名 %><br />
                                <%= f.text_field :name, class:"form-control", value: @subject_group.name %>
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <%= f.submit "更新する", class:"btn btn-primary" %>
                        </div>
                    <% end %>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>

</section>


