<% provide(:title, "グループ一覧") %>

<%= javascript_pack_tag 'datatables/index' %>
<%= stylesheet_pack_tag 'datatables/index' %>

<!-- 上部 -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>グループ一覧</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><%= link_to "ホーム", root_url %></li>
                    <li class="breadcrumb-item active">グループ一覧</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- テーブル -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">参加中のグループ一覧</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered table-hover normal_datatable">
                            <thead>
                            <tr>
                                <th>参加グループ名</th>
                                <th>科目</th>
                                <th>参加人数</th>
                                <th>参加ステータス</th>
                                <th>詳細</th>
                            </tr>
                            </thead>
                        
                            <tbody>
                            <% @subjecs.each do |subject| %>
                            <% subject_group = subject.joining_subject_group %>
                                <tr>
                                <td style="max-width:30px;"><%= subject_group.name %></td>
                                <td><%= subject.subject_name %></td>
                                <td><%= subject_group.subject_groups_joining_users.count %></td>
                                <td>
                                    <% if subject_group.subject_groups_create_judge(@user) then %>
                                        <%= "作成者" %>
                                    <% else %>
                                        <%= "参加者" %>
                                    <% end %>
                                </td>
                                <td>
                                    <% if subject_group.subject_groups_create_judge(@user) then %>
                                        <%= link_to '詳細', subject_group_path(subject_group.id), class:"btn btn-outline-primary btn-sm" %>
                                    <% else %>
                                        <%= link_to '詳細', subject_group_path(subject_group.id), class:"btn btn-outline-primary btn-sm" %>
                                    <% end %>
                                </td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->



<!-- テーブル -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">招待を受けているグループ一覧</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered table-hover normal_datatable">
                            <thead>
                            <tr>
                                <th>グループ名</th>
                                <th>科目</th>
                                <th>参加人数</th>
                                <th>詳細</th>
                            </tr>
                            </thead>
                        
                            <tbody>
                            <% @subject_groups.each do |subject_group| %>
                            <% subject = subject_group.subject_groups_createuser_subject(@user) %>
                                <tr>
                                <td><%= subject_group.name %></td>
                                <td><%= subject.subject_name %></td>
                                <td><%= subject_group.subject_groups_joining_users.count %></td>
                                <td>
                                    <%= link_to '詳細', subject_group_path(subject_group.id), class:"btn btn-outline-primary btn-sm" %>
                                </td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->


<script>

    var ja_DataTable = {
                    "sProcessing":   "処理中...",
                    "sLengthMenu":   "_MENU_ 件表示",
                    "sZeroRecords":  "データはありません。",
                    "sInfo":         " _TOTAL_ 件中 _START_ から _END_ まで表示",
                    "sInfoEmpty":    " 0 件中 0 から 0 まで表示",
                    "sInfoFiltered": "（全 _MAX_ 件より抽出）",
                    "sInfoPostFix":  "",
                    "sSearch":       "検索:",
                    "sUrl":          "",
                    "oPaginate": {
                        "sFirst":    "先頭",
                        "sPrevious": "前",
                        "sNext":     "次",
                        "sLast":     "最終"
                    }
        };
            

    var dataTable = $('.normal_datatable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "language": ja_DataTable,
                "oSearch": {"sSearch": "<%= @oSearch_word %>"}
        });

    document.addEventListener("turbolinks:before-cache", function() {
        if (dataTable !== null) {
            dataTable.destroy();
            dataTable = null;
        } 
    });

</script>
