<% provide(:title, "グループ作成") %>
<!-- Main content -->

<section class="content-header">

</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-8 offset-md-2">
                <%= render 'shared/error_messages', object: @subject_group %>
                
                <%= render 'shared/error_messages', object: @membership_subject_group %>
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">グループ作成</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <%= form_with(model: @subject_group, local: true) do |f| %>

                        <%= f.hidden_field :user_id, :value => @user.id %>

                        <div class="card-body">
                            <div class="form-group">
                                <%= f.label :科目 %><br />
                                <% if @subjects.count == 0 then %>
                                    <%= f.collection_select :subject_id, @subjects, :id, :subject_name, {prompt: "※グループ登録来る科目がありません"}, {class: "form-control"} %>
                                <% else %>
                                    <%= f.collection_select :subject_id, @subjects, :id, :subject_name, {prompt: "選ぶ"}, {class: "form-control"} %>
                                <% end %>
                            </div>

                            <div class="form-group">
                                <%= f.label :グループ名 %><br />
                                <%= f.text_field :name, class:"form-control" %>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <%= f.submit "登録する", class:"btn btn-primary" %>
                        </div>
                    <% end %>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>

</section>



