<% provide(:title, "ユーザー情報編集") %>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>登録情報編集</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><%= link_to "ホーム", root_url, "data-turbolinks": false %></li>
                    <li class="breadcrumb-item active">登録情報編集</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-8 offset-md-2">
                
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">登録情報編集</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="card-body">
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password %> <i>(変更したい場合)</i>
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
        <% if @minimum_password_length %>
          
          <em><%= @minimum_password_length %> 文字以上</em>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(変更する場合は、現在のパスワードを入れて下さい)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
      </div>
    </div>

      <div class="card-footer">
        <%= f.submit "変更する", class:"btn btn-primary" %>
      </div>
  <% end %>


</div>
                <!-- /.card -->
            </div>
        </div>
    </div>

</section>




<!--
<h2>登録情報編集 <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(変更したい場合)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(変更する場合は、現在のパスワードを入れて下さい)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "変更する" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
-->